<div class="row justify-content-center">
    <div class="col-10 text-center mb-3">
        <h1>{{user.username}}'s Dashboard</h1>
        <a class="btn btn-success" href="/newpost" role="button">+ New Post</a>
    </div>
</div>


{{#if user.posts.length}}
{{#each user.posts as |post| }}
<div class="row justify-content-center m-2">
    <div class="card border-dark col-10 p-0">
        <div class="card-header bg-dark">
            <h4 class="card-title">{{post.title}}</h4>
        </div>
        <div class="card-body card-main">
            <h6 class="card-subtitle mb-2 text-muted">{{format_date post.createdAt}}</h6>
            <p class="card-text">{{post.body}}</p>
            <div class="text-center">
                <a class="btn btn-dark" href="/post/{{post.id}}">View Post</a>
                <a class="btn btn-warning" href="/dashboard/edit/{{post.id}}" role="button">Edit Post</a>
            </div>
        </div>
    </div>
</div>
{{/each}}
{{/if}}